.root {
  height: 800px;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menuCell {
  width: 320px;
  height: 64px;
}

.link {
  color: white;
  text-decoration: none;
}

.selectedMenu {
  color: white;
}

.subMenu {
  width: 480px;
}
