.container {
  width: 580px;
  height: 626px;

  display: flex;
  flex-direction: column;

  background-color: blueviolet;
}

.orders {
  display: flex;
  justify-content: space-between;

  background-color: aquamarine;
}

.tableHeader {
  height: 48px;
  background-color: brown;
}
